name: Go
permissions:
  contents: read
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install dependencies
        run: go get .
      - name: Make sure we don't need go mod tidy
        run: go mod tidy -diff
      - name: Test
        run: go test -v ./...
